{% extends "_onecol.html" %}

{% block title %}Events{% endblock %}

{% block body %}
<h2>Events</h2>

<h3>4th International Workshop on Bots in Software Engineering <small> May 2022, Pittsburgh, USA (virtual)</small></h3>
<p>The goal of this one-day workshop is to bring together software engineering researchers and practitioners to discuss the opportunities and challenges of bots in software engineering.
</p>
<p><a href="https://botse.org">More information</a></p>

<h3>SECO-ASSIST 2022 Research Seminar <small>11 March 2022, VUB, Brussels, Belgium</small></h3>

<p> A series of research presentations by PhD students on the SECO-ASSIST research project:
<ul>
    <li>Mehrdad Abdi, University of Antwerp: <i>Test amplification ecosystems</i></li>
    <li>Camillo Velázquez-Rodríguez, Vrije Universiteit Brussel: <i>Data-driven assistance for library selection in software ecosystems</i></li>
    <li>Pol Benats, University of Namur: <i>Understanding and reengineering hybrid multi-database systems</i></li>
    <li>Mehdi Golzadeh, University of Mons: <i></i></li>
</ul>

<h3>3rd International Workshop on Software Health <small>May 2020, Seoul, South Korea</small></h3>

<p>
    SoHeal aims to enable and promote collaboration between academia and industry, unifying the views on software health of researchers and practitioners. The workshop's goals are to: (1) raise awareness of practitioners' problems with software health; (2) familiarize practitioners with the progress made by academia; and (3) connect the two communities to further advance the body of knowledge and state of the practice on software health.
</p>
<p><a href="https://soheal.github.io/">More information</a></p>
<h3>CHAOSScon Europe 2020<small> 31 January 2020, Brussels, Belgium</small></h3>

<p>
The goal of CHAOSScon is to learn and discuss about open source project health metrics and tools used by open source projects, communities, and engineering teams to track and analyze their community work. </p>
<p><a href="https://chaoss.community/chaosscon-2020-eu/">More information</a></p>

<h3>18th Belgium-Netherlands Software Evolution Workshop <small> 28/29 November 2019, Brussels, Belgium</small></h3>

<p>
    The goal of BENEVOL is to bring together researchers from Belgium, the Netherlands, and neighboring countries that are working in the field of software evolution and maintenance. BENEVOL offers an informal forum to meet and to discuss new ideas, important problems and obtained research results.
</p>
<p><a href="http://soft.vub.ac.be/benevol2019/">More information</a></p>

<h3>SECO-ASSIST 2019 Research Seminar <small>4 September 2019, Mons, Belgium</small></h3>

<p>
    <!-- Description here. -->
</p>
<p><a href="seminar.html">More information</a></p>


<h3>2nd International Workshop on Software Health <small>28 May 2019, Montreal, Canada</small></h3>

<p>
    SoHeal aims to enable and promote collaboration between academia and industry, unifying the views on software health of researchers and practitioners. The workshop's goals are to: (1) raise awareness of practitioners' problems with software health; (2) familiarize practitioners with the progress made by academia; and (3) connect the two communities to further advance the body of knowledge and state of the practice on software health. 
</p>
<p><a href="https://soheal.github.io/SoHeal2019/index.html">More information</a></p>


{% endblock %}
