{% extends "_onecol.html" %}

{% block title %}Events{% endblock %}

{% block body %}
<h2>Events</h2>

<h3>CHAOSScon Europe 2020<small> 31 January 2020, Brussels, Belgium</small></h3>

<p>
The goal of CHAOSScon is to learn and discuss about open source project health metrics and tools used by open source projects, communities, and engineering teams to track and analyze their community work. </p>
<p><a href="https://chaoss.community/chaosscon-2020-eu/">More information</a></p>

<h3>The 18th Belgium-Netherlands Software Evolution Workshop <small> 28/29 November 2019, Brussels, Belgium</small></h3>

<p>
    The goal of BENEVOL is to bring together researchers from Belgium, the Netherlands, and neighboring countries that are working in the field of software evolution and maintenance. BENEVOL offers an informal forum to meet and to discuss new ideas, important problems and obtained research results.
</p>
<p><a href="http://soft.vub.ac.be/benevol2019/">More information</a></p>

<h3>SECO-ASSIST 2019 Research Seminar <small>4 September 2019, Mons, Belgium</small></h3>

<p>
    <!-- Description here. -->
</p>
<p><a href="seminar.html">More information</a></p>


<h3>2nd International Workshop on Software Health <small>28 May 2019, Montreal, Canada</small></h3>

<p>
    SoHeal aims to enable and promote collaboration between academia and industry, unifying the views on software health of researchers and practitioners. The workshop's goals are to: (1) raise awareness of practitioners' problems with software health; (2) familiarize practitioners with the progress made by academia; and (3) connect the two communities to further advance the body of knowledge and state of the practice on software health. 
</p>
<p><a href="https://soheal.github.io/">More information</a></p>


{% endblock %}
