{% extends "_onecol.html" %}

{% block title %}Events{% endblock %}

{% block body %}
<h2>Events</h2>

<h3>SECO-ASSIST 2019 Research Seminar <small>4 September 2019, Mons, Belgium</small></h3>

<p>
    <!-- Description here. -->
</p>
<p><a href="seminar.html">More information</a></p>


<h3>2nd International Workshop on Software Health <small>28 May 2019, Montreal, Canada</small></h3>

<p>
    SoHeal aims to enable and promote collaboration between academia and industry, unifying the views on software health of researchers and practitioners. The workshop's goals are to: (1) raise awareness of practitioners' problems with software health; (2) familiarize practitioners with the progress made by academia; and (3) connect the two communities to further advance the body of knowledge and state of the practice on software health. 
</p>
<p><a href="https://soheal.github.io/">More information</a></p>


{% endblock %}
