{% extends "_twocols.html" %}

{% block title %}Welcome{% endblock %}

{% block body %}
<h2>Welcome to SECO-ASSIST website!</h2>

<div class="container-fluid">
<div class="row">
  <div class="col-md-12">    
    <p>
      Software ecosystems are the most promising avenue for organising the software needs of the digital era. SECO-ASSIST aims to realise a scientific breakthrough to nurture the ecosystems of the future, by providing novel software recommendation techniques that address the resilience, evolvability, heterogeneity, and social interaction. To achieve this the project partners will combine their expertise in social networks (UMONS), software testing (UAntwerpen), software reuse (VUB) and database evolution (UNamur).
    </p>
  </div>
  <div class="col-xs-12 col-md-6">
    <img class="flag-lang img-responsive" src="{{ "assets/logo/lang-fr.png"|relative }}" />
    <p class="small">
      Les écosystèmes logiciels forment la voie la plus prometteuse pour organiser les besoins logiciels de l'ère numérique. SECO-ASSIST vise à réaliser une percée scientifique en assistant les écosystèmes de l'avenir, par le développement de nouvelles techniques de recommandation logicielle qui considèrent la résilience, l’évolutivité, l'hétérogénéité et les interactions sociales. Pour ce faire, les partenaires du projet joindront leurs expertises en réseaux sociaux (UMONS), tests de logiciels (UAntwerpen), réutilisation de logiciels (VUB) et évolution de bases de données (UNamur).
    </p>  
  </div>
  <div class="col-xs-12 col-md-6">
    <img class="flag-lang img-responsive" src="{{ "assets/logo/lang-nl.png"|relative }}" />
    <p class="small">
      Software ecosystemen beloven om de noden en behoeften van software in dit digitale tijdperk te realiseren. SECO-ASSIST beoogt een wetenschappelijke doorbraak te realiseren in de ondersteuning van toekomstige ecosystemen, door middel van innovatieve aanbevelingstechnieken die de duurzaamheid, evolutie, heterogeniteit en sociale interactie beter aanpakken. Om dit te bereiken, zullen de projectpartners hun expertise combineren in sociale netwerken (UMONS), software testen (UAntwerpen), software hergebruik (VUB) en databankevolutie (UNamur).
    </p>
  </div>
</div>
</div>


<h3>Latest News</h3>

{% set news = load_yaml('news.yaml') %}
{% for item in (news|sort(reverse=True, attribute='date'))[:5] %}
<h4>{{ item.title }} <span class="small">{{ item.date.strftime('%A, %B %d, %Y') }}</span></h4>
<p>
  {{ item.summary }}
  {% if item.content %}
    <span style="white-space: nowrap;">&mdash; <a href="{{ "news.html"|relative }}#n{{ news|length - loop.index }}">read more</a></span> 
  {% endif %}
</p>
{% endfor %}

{% endblock %}


{% block sidebar %}
<h2>Latest Tweets</h2>
<a class="twitter-timeline" data-width="100%" data-height="32em" data-chrome="noheader nofooter transparent" href="https://twitter.com/secoassist">Tweets by @secoassist</a>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>  
{% endblock %}
