{% extends "_onecol.html" %}

{% block title %}Jobs{% endblock %}

{% block body %}
<h2>Vacant PhD positions in UMONS (Belgium) on Software Development Workflow Ecosystems </h2>

<p>As a direct continuation of the very succesful Excellence of Science research project <a href="https://secoassist.github.io">SECO-ASSIST</a>,
  the Software Engineering Lab of the University of Mons (Belgium) has two vacant positions for PhD candidates to work on an F.R.S.-FNRS research project entitled "<b>On the impact of workflow automation solutions on continuous collaborative open source software engineering</b>".
</p>

<h3>Project summary</h3>
<p>Open source software (OSS) ecosystems are huge collections of interconnected and rapidly evolving software components. Developing software in these ecosystems is a continuous, highly distributed and collaborative endeavour involving thousands of contributors with diverse skills and interests. The complex socio-technical interactions in these ecosystems are plagued by a multitude of social and technical health issues.</p>

<p>To help communities to keep up with the rapid pace of producing and maintaining high-quality software releases, workflow automation solutions (e.g. bots to deploy releases, automated pull requests, continuous integration, testing code) are increasingly used to automate numerous repetitive activities that are intrinsically part of the continuous software engineering process. However, there is a lack of knowledge on the expected and actual benefits, limitations and impact of automating such activities as well as on the health issues in the rapidly growing ecosystem of workflow automation solutions.</p>
  
<p>Following a mixed-methods research approach, this project aims to quantitatively and qualitatively assess the usage, benefits and drawbacks of workflow automation solutions as well as their impact on the continuous software engineering process. By relying on state-of-the-art recommendation techniques, we will propose recommendation models for the adoption and adaptation of automation solutions to improve this continuous process. We will propose new techniques and metrics to detect and measure health issues and their impact in workflow automation solutions. We will develop recommendation models providing proactive and reactive socio-technical recommendations to reduce these health issues and their impact, therefore improving the health of workflow automation solutions and their encompassing ecosystem.</p>

<h3>Work environment</h3>
<p>The Software Engineering Lab, part of the Computer Science department of the Faculty of Sciences (University of Mons), is composed of one full professor (Tom Mens), one research associate (Alexandre Decan) and three PhD students. The lab’s main research themes are software evolution, software quality, and model-driven software engineering. A PhD position in our lab is an ideal stepping stone for an independent research career in academia or industry. Mons is centrally located in Europe, close to the French border, and the lab is well-connected to other research teams worldwide. The university is French-speaking, but the lab host researchers of various nationalities, hence the working language for research activities will be English.</p>

<h3>Qualification requirements</h3>

<p>Qualified candidates need to:
<ul>  
 <li>be available to start the position no later than September 1st, 2023 (preferably earlier).</li>
 <li>have a masters degree in computer science, software engineering, or an equivalent 5-year degree programme that shows the required skills in software engineering and data science that are needed to carry out the PhD research.</li>
 <li>have very good knowledge of English (knowledge of French is a plus even if not strictly required).</li>
</ul>
</p>

<p>Desired skills/knowledge:
<ul>
  <li>Good understanding and experience with collaborative software development (git, github, etc.);</li>
  <li>Practical experience in Python and in data analysis;</li>
  <li>Experience with pandas, matplotlib, jupyter, sklearn, etc. is a plus;</li>
  <li>Basic knowledge of LaTeX;</li>
</ul>

In case of doubt, interested applicants should reach out to Dr. Alexandre Decan (research associate, <a href="mailto:alexandre.decan@umons.ac.be">alexandre.decan@umons.ac.be</a>) by e-mail to check if they potentially qualify for the position.</p>

<h3>Application details</h3>
<p>
 Official application should include:
  <ul>
    <li>A personalised motivation letter, explaining why the candidate is the best fit for the vacant PhD position.</li>
    <li>A list of all degrees obtained, together with the grade transcripts of each year/semester and (if available) ranking.</li>
    <li>A short curriculum vitae detailing the past experience (education, research and professional) of the candidate. 
    We prefer terse CVs focusing on quality rather than quantity.</li>
    <li>A digital copy of the master thesis.</li>
    <li>If applicable, a digital copy of any (co-)authored publications demonstrating some of the expected expertise.</li>
    <li>If applicable, a link to one or more of the candidate's projects related to data analysis or Python programming (e.g., a link to a public GitHub repository).</li>
    <li>Contact details and reference letters of two or more referees that we may contact.</li>
  </ul>
</p>

<h3>Useful links</h3>
<p>
  <ul>
    <li><a href="https://euraxess.ec.europa.eu/jobs/56676">EURAXESS description of vacant PhD positions</a></li>
    <li><a href="http://informatique.umons.ac.be/genlog/index.php?lang=EN">Website of Software Engineering Lab</a></li>
    <li><a href="https://scholar.google.com/citations?user=K5cy9lYAAAAJ&hl=en">Google Scholar profile of Alexandre Decan</a></li>
</ul>
</p>

{% endblock %}
