{% extends "_onecol.html" %}

{% block title %}Jobs{% endblock %}

{% block body %}
<h2>Join us for a PhD or PostDoc position!</h2>

Want to carry out research on the SECO-ASSIST project, as a PhD student or postdoctoral researcher?
Please contact us ASAP by mail, including your full CV and a motivation letter
explaining why our are interested to join our team and why you believe to be qualified to carry out
research in the domain of the SECO-ASSIST project.

Contact: <a href="mailto:tom.mens@umons.ac.be">Tom Mens (main coordinator of SECO-ASSIST)</a>

{% endblock %}
