{% extends "_onecol.html" %}

{% block title %}Jobs{% endblock %}

{% block body %}
<h2>Vacant PhD position in UMONS (Belgium)<br/>on Software Development Workflow Ecosystems </h2>

<p>As a direct continuation of the very succesful Excellence of Science research project <a href="https://secoassist.github.io">SECO-ASSIST</a>,
  the Software Engineering Lab of the University of Mons (Belgium)
  has a <em>vacant position for a PhD candidate</em> to work on an <a href="https://www.fnrs.be">F.R.S.-FNRS</a> research project entitled
  <b>"Empirical analysis, recommendations and improvements for software development workflow automation ecosystems"</b>.
  Mons is centrally located in Europe, close to the French border, 
  and the lab is well-connected to other research teams worldwide.
  A PhD position in our lab is an ideal stepping stone for an independent research career in academia or industry.
  The university is French-speaking, but the lab host researchers of various nationalities,
  hence the working language for research activities will be English.
</p>

<h3>Qualification requirements</h3>
<p>Qualified candidates need to:
  <ul>
    <li>be available to start the position no later than July 1st, 2022 (preferably earlier).</li>
    <li>have obtained their masters diploma no later than 3 years before that start date of the PhD contract.</li>
    <li>have a masters degree in computer science, software engineering, or an equivalent 5-year degree programme
      that shows the required skills in software engineering and data science that are needed to carry out the PhD research.</li>
    <li>have very good knowledge of English (knowledge of French is a plus even if not strictly required).<li>
  </ul>
In case of doubt, interested applicants can reach out to the lab director by e-mail at
  <a href="mailto:tom.mens@umons.ac.be">Tom Mens</a> to check if they potentially qualify for the position.
</p>

<h3>Application details</h3>
<p>
 Official application should include:
  <ul>
    <li>A personalised motivation letter, explaining why the candidate is the best fit for the vacant PhD position.
    <li>A list of all degrees obtained, together with the grade transcripts of each year/semester and (if available) ranking.</li>
    <li>A short curriculum vitae detailing the past experience (education, research and professional) of the candidate. 
    We prefer terse CVs focusing on quality rather than quantity.</li>
    <li>A digital copy of the master thesis.</li>
    <li>If applicable, a digital copy of any (co-)authored publications demonstrating some of the expected expertise.</li>
    <li>Contact details and reference letters of two or more referees that we may contact.</li>
  </ul>
</p>

<h3>Useful links</h3>
<p>
  <ul>
    <li><a href="https://euraxess.ec.europa.eu/jobs/722675">EURAXESS description of vacant PhD position</a></li>
    <li><a href="http://informatique.umons.ac.be/genlog/index.php?lang=EN">Website of Software Engineering Lab</a></li>
</ul>
</p>

<hr>

<h3>Project summary</h3>
<h4>In English</h4>
<p><strong>Empirical analysis, recommendations and improvements for software development workflow automation ecosystems</strong></p>
<p>This project aims to empirically analyse and support the emerging ecosystems of software development
  workflow automation artefacts (such as development bots and continuous integration services in social
  coding platforms such as GitHub, GitLab and BitBucket) used by geographically distributed software projects.
  Such development workflow artefacts are
  software components that automate repetitive human activity during collaborative software development,
  allowing to increase the productivity and quality of software projects. Focusing on open source
  software projects in particular, we will qualitatively and quantitatively study the usage, benefits
  and drawbacks of such workflow automation artefacts and their encompassing ecosystems. We will propose
  and evaluate recommendation models to propose projects to use new workflow automation artefacts,
  and to upgrade oàr replace the existing ones used by the project. We will also analyse the quality
  and health issues encountered in these emerging ecosystems of strongly interconnected software
  development workflow artefacts, by drawing inspiration from existing research results on the health
  of dependency networks of reusable software libraries. Finally, we will propose guidelines and
  techniques aiming to reduce the observed health issues.
</p>
<h4> En fran&ccedil;ais</h4>
<p><strong>Analyse empirique, recommandations et am&eacute;liorations pour les &eacute;cosyst&egrave;mes
  d'automatisation des flux de d&eacute;veloppement logiciel</strong></p>
<p>Ce projet vise &agrave; analyser empiriquement et &agrave; soutenir les &eacute;cosyst&egrave;mes &eacute;mergents 
  d'art&eacute;facts d'automatisation des flux de d&eacute;veloppement logiciel (tels que les "bots" de d&eacute;veloppement
  et les services d'int&eacute;gration continue dans les plateformes de d&eacute;veloppement "social coding" tels que 
  GitHub, GitLab et BitBucket) utilis&eacute;s par les projets de d&eacute;veloppement logiciel distribu&eacute;s
  g&eacute;ographiquement. Ces art&eacute;facts des flux de d&eacute;veloppement sont des composants logiciels
  qui automatisent les activit&eacute;s humaines r&eacute;p&eacute;titives pendant le d&eacute;veloppement
  collaboratif de logiciels, permettant ainsi d'augmenter la productivit&eacute; et la qualit&eacute;
  des projets logiciels. En nous concentrant sur les projets de logiciel open source en particulier,
  nous &eacute;tudierons qualitativement et quantitativement l'usage, les avantages
  et les inconv&eacute;nients de ces art&eacute;facts d'automatisation des flux de d&eacute;veloppement
  et et des &eacute;cosyst&egrave;mes qui les englobent.
  Nous proposerons et &eacute;valuerons des mod&egrave;les de recommandation pour proposer aux
  projets l'utilisation de nouveaux art&eacute;facts d'automatisation des flux de d&eacute;veloppement, et de mettre
  &agrave; jour ou de remplacer les art&eacute;facts existants utilis&eacute;s par le projet.
  Nous analyserons &eacute;galement les probl&egrave;mes de qualit&eacute; et de sant&eacute;
  rencontr&eacute;s dans ces &eacute;cosyst&egrave;mes &eacute;mergents d'art&eacute;facts fortement
  interconnect&eacute;s, en s'inspirant des r&eacute;sultats de recherches existantes sur la sant&eacute; des r&eacute;seaux de
  d&eacute;pendances de biblioth&egrave;ques logicielles r&eacute;utilisables. Finalement, nous proposerons des lignes
  directrices et des techniques visant &agrave; r&eacute;duire les probl&egrave;mes de sant&eacute; observ&eacute;s. 
</p>

{% endblock %}
