{% extends "_onecol.html" %}

{% block title %}Members{% endblock %}

{% block body %}
<h2>Members</h2>

<h3>Principal Investigators</h3>

<div class="row">
  <div class="col-md-3">
    <div class="clearfix"></div>
    <h4>Name, institution</h4>
    <img class="pull-left member-picture" src="{{ "assets/pictures/.png"|relative }}" />
    <p>
      Short description.
    </p>
    <p>
      (<a href="">website</a>)
    </p>
  </div>
  <div class="col-md-3">
    <div class="clearfix"></div>
    <h4>Name, institution</h4>
    <img class="pull-left member-picture" src="{{ "assets/pictures/.png"|relative }}" />
    <p>
      Short description.
    </p>
    <p>
      (<a href="">website</a>)
    </p>
  </div>
  <div class="col-md-3">
    <div class="clearfix"></div>
    <h4>Name, institution</h4>
    <img class="pull-left member-picture" src="{{ "assets/pictures/.png"|relative }}" />
    <p>
      Short description.
    </p>
    <p>
      (<a href="">website</a>)
    </p>
  </div>
  <div class="col-md-3">
    <div class="clearfix"></div>
    <h4>Name, institution</h4>
    <img class="pull-left member-picture" src="{{ "assets/pictures/.png"|relative }}" />
    <p>
      Short description.
    </p>
    <p>
      (<a href="">website</a>)
    </p>
  </div>
</div>
<div class="clearfix"></div>


{% endblock %}
