{% extends "_onecol.html" %}

{% block title %}Members{% endblock %}

{% block body %}
<h2>Members</h2>

<h3>Principal Investigators</h3>

<div class="row">
  <div class="col-md-12">
    <div class="clearfix"></div>
    <h4>Tom Mens, Université de Mons</h4>
    <img class="pull-left member-picture" src="{{ "assets/pictures/tom_mens.png"|relative }}" />
    <p class="small">
      Tom Mens obtained the degrees of Licentiate in Mathematics in 1992, Advanced Master in Computer Science in 1993 and PhD in Science in 1999 at the Vrije Universiteit Brussel. 
      He was a teaching and research assistant at the Vrije Universiteit Brussel until September 1999. 
      After that, he has been a postdoctoral fellow of the Fund for Scientific Research - Flanders (FWO) for three years. 
      In October 2003 he became a lecturer at the Université de Mons (formerly UMH), where he founded and directs a research lab on software engineering, currently composed of 5 members (of which 2 post-docs and 2 PhD students). 
      Since November 2008 he is associate professor, since November 2016 he is full professor. 
      He is vice-president of the UMONS research institute INFORTECH and active member of research institutes COMPLEXYS and NUMEDIART. 
      His main research interests are formal foundations, tool support and empirical analysis of software evolution, software quality, software modelling and software ecosystems. 
      He published countless scientific articles on the aforementioned research topics in peer-reviewed international journals, conferences and workshops. 
      He was program chair of ICSM 2013, CSMR 2012 and CSMR 2011. 
      He was keynote speaker for ICSME 2016. He co-organised numerous scientific workshops. 
      He was program committee member and reviewer of numerous international journals, conferences and workshops related to software engineering, software modelling and software evolution. 
      He has been involved in several interuniversity research projects and networks, and is former director of the ERCIM Working Group on
      Software Evolution and the ESF Research Network RELEASE. 
      He co-edited two Springer books: "Software
      Evolution" with S. Demeyer in 2008, and "Evolving Software Systems" with A. Serebrenik and A. Cleve in
      2014.
    </p>
    <p>
      (<a href="http://informatique.umons.ac.be/genlog">website</a>)
    </p>
  </div>
  <div class="col-md-12">
    <div class="clearfix"></div>
    <h4>Coen De Roover, Vrije Universiteit Brussel</h4>
    <img class="pull-left member-picture" src="{{ "assets/pictures/coen_deroover.png"|relative }}" />
    <p class="small">
      Coen De Roover is an assistant professor at the Software Languages Lab of the Vrije Universiteit Brussel in Belgium. 
      The central theme of his research is the design of program analysis and transformation techniques, and their application in software engineering tools for quality assurance.
      Example analysis techniques include abstract interpretation of dynamically-typed programs in general, and of JavaScript programs in particular. 
      Example tools include tools for detecting user-specified bug patterns in an implementation, or for validating an implementation with respect to a user-specified design. 
      Here, an executable logic often serves as the tool’s specification language.
    </p>
    <p>
      (<a href="http://soft.vub.ac.be/~cderoove/">website</a>)
    </p>
  </div>
  <div class="col-md-12">
    <div class="clearfix"></div>
    <h4>Serge Demeyer, University of Antwerp</h4>
    <img class="pull-left member-picture" src="{{ "assets/pictures/serge_demeyer.png"|relative }}" />
    <p class="small">
      Serge Demeyer is a professor at the University of Antwerp and the spokesperson for the ANSYMO (Antwerp System Modelling) research group. He directs a research lab investigating the theme of "Software Reengineering" (LORE - Lab On REengineering). Serge Demeyer is a spokesperson for the NEXOR interdisciplinary research consortium and an affiliated member of the Flanders Make Research Centre. 
      In 2007 he received a "Best Teachers Award" from the Faculty of Sciences at the University of Antwerp and is still very active in all matters related to teaching quality.
      His main research interest concerns software evolution, more specifically, how to strike the right balance between reliability (striving for perfection) and agility (optimising for improvements). 
      He is an active member of the corresponding international research communities, serving in various conference organization and program committees. 
      He has written a book entitled "Object-Oriented Reengineering" and edited a book on "Software Evolution". 
      He also authored numerous peer reviewed articles, many of them in top conferences and journals.
      Serge Demeyer completed his M.Sc. in 1987 and his PhD in 1996, both at the "Vrije Universiteit Brussel".
      After his PhD, he worked for three years in Switzerland, where he served as a technical co-ordinator of a european research project. 
      Switzerland remains near and dear to his heart, witness the sabbatical leave during 2009-2010 at the University of Zürich in the research group SEAL.
    </p>
    <p>
      (<a href="http://win.ua.ac.be/∼sdemey/">website</a>)
    </p>
  </div>
  <div class="col-md-12">
    <div class="clearfix"></div>
    <h4>Anthony Cleve, Université de Namur</h4>
    <img class="pull-left member-picture" src="{{ "assets/pictures/anthony_cleve.png"|relative }}" />
    <p class="small">
      Anthony Cleve is a professor in information system evolution at University of Namur, where he serves as president of the PReCISE research center. 
      He is also a part-time Lecturer in database engineering at Université Libre de Bruxelles (ULB). 
      Previously, Anthony was an ERCIM post-doctoral research fellow at INRIA Lille (2009-2010), where he worked in the ADAM team. 
      He holds an MSc degree (2004) and a PhD degree (2009) in Computer Science from the University of Namur. 
      Anthony also worked as visiting researcher at CWI, Amsterdam, where he was a member of the SWAT team (2005-2006). 
      Anthony's research interests include information system maintenance and evolution, software and data reverse engineering, program analysis and transformation, self-adaptive and context-aware systems. 
      He has co-authored over 50 publications in international venues in software and systems engineering. 
      Anthony’s PhD thesis, entitled "Program Analysis and Transformation for Data-Intensive System Evolution", earned the IBM Belgium 2010 Award for the best PhD thesis in Computer Science and applications. 
      Anthony regularly serves in the organizing and/or program committees of international scienti_c events including ER, SLE, ICSM, WCRE, CSMR, IWPSE, ESEC/FSE, ASE, and ICSE. 
      He has served as co-chair of the ERCIM Working Group on Software Evolution and Steering Committee member of the International Workshop on Principles of Software Evolution (IWPSE). 
      He served as program co-chair for 2012 and 2013 editions of the European Conference on Software Maintenance and Evolution (CSMR). 
      He co-edited the book "Evolving Software Systems", published by Springer in 2014.
    </p>
    <p>
      (<a href="https://directory.unamur.be/staff/acleve">website</a>)
    </p>
  </div>
</div>
<div class="clearfix"></div>

<h3>Researchers</h3>
<div class="row">
<div class="col-md-6">
  <h4>Damien Legay, PhD researcher, Université de Mons</h4>
</div>
</div>

{% endblock %}
