<div class="clear-fix"></div>
<footer>
  <div class="container-fluid">
  	<div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="well well-sm">
          
          <div class="text-center pull-right">
            <a href="https://twitter.com/secoassist"> <i class="fa fa-fw fa-twitter"></i></a>
            <a href="https://github.com/secoassist"> <i class="fa fa-fw fa-github"></i></a>
            <a href="mailto:tom.mens@umons.ac.be"> <i class="fa fa-fw fa-envelope"></i></a>
          </div>
          <div class="text-center">
            <span class="fa fa-copyright"></span> 2018 | SECO-ASSIST
          </div>
        </div>
      </div>
  	</div>
  </div>
</footer>
